<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kodemia Address Book</title>
</head>
<body>
  <h1>{{ object }}</h1>
  <p>phone: {{ object.phone }}</p>
  <p>email: {{ object.email }}</p>
  <p>address: {{ object.address }}</p>

  <p><a href="{% url 'contact_update' contact.pk %}">Edit contact</a></p>
  <p><a href="{% url 'contact_delete' contact.pk %}">Delete contact</a></p>
  <p><a href="{% url 'contact_list' %}">Back</a></p>

</body>
</html>